body {
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    color: #ccc;
    margin: 0;
    padding: 20px;
}

.card {
    background-color: #333;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.card-header {
    background-color: #2b2b2b;
    padding: 15px;
}

.card-header h2 {
    margin: 0;
    font-size: 24px;
}

.card-header p {
    margin: 5px 0;
    font-size: 16px;
}

.card-body {
    padding: 15px;
    max-height: 300px; /* Adjust max-height as needed */
    overflow-y: auto;
}

.card-body p {
    margin: 10px 0;
    font-size: 14px;
    line-height: 1.6;
}

/* Style links within card-body */
.card-body a {
    color: #3fa2f7;
}

.keyWord {
    font-weight: bold;
    font-size: 16px;
    color: #12f361; /* Orange color for emphasis */
}

.hidden {
    display: none;
}

button {
    font-family: Arial, sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
}

.tinder--buttons{
    width: 100%;
    display: flex;
}
/* Deny button */
#nope {
    width: 50%;
    background-color: red; /* Red background */
    color: white; /* White text */
}

/* Show Resume button */
#love {
    width: 50%;
    background-color: white; /* White background */
    color: red; /* Red text */
}

/* Apply button */
button[name="action"][value="apply"] {
    width: 100%;
    background-color: green; /* Green background */
    color: white; /* White text */
}

.resume-options {
    display: flex;
    flex-direction: column;
}

.resume-option {
    margin-bottom: 10px;
    cursor: pointer;
}

.resume-option input[type="radio"] {
    display: none; /* Hide the radio input */
}

.resume-option span {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 100%; /* Ensure span covers entire clickable area */
    box-sizing: border-box; /* Include padding in width calculation */
}

.resume-option input[type="radio"]:checked + span {
    background-color: lightgreen; /* Green glow effect */
    color: #1f1f1f;
}

.apply-button {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    background-color: white; /* Default white background */
    color: black; /* Black text */
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.apply-button.green {
    background-color: green; /* Green background */
    color: white; /* White text */
}

.end{
    height: 50vh;
}
/* Responsive adjustments */
@media (max-width: 600px) {
    .card-body {
        max-height: none;
        overflow-y: visible;
    }
    .resume-options {
        flex-direction: column;
    }
}
