<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/root.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
</head>

<body>
    UNDER CONSTRUCTION DONT FORGET YOUR PASSWORD FOR NOW please :)
    <div class="mainName">DICE SARAL APPLY</div>
    <div class="form-container">
        <h2>Enter the OTP</h2>
        <p>OTP send to</p>
        <p>{{ email }}</p>
        
        <!-- Error message section -->
        {% if error %}
        <div class="error-message">{{ error }}</div>
        {% endif %}
        
        <form method="POST">
            <input type="text" name="otp" placeholder="Enter OTP" required>
            <input type="password" name="new_password" placeholder="Enter new password" required>
            <button type="submit">SUBMIT OTP & PASSWORD</button>
        </form>
    </div>
    
    <script>
        document.getElementById('loginForm').addEventListener('submit', function(event) {
            const email = event.target.email.value;
            const password = event.target.password.value;
            const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            
            if (!emailRegex.test(email)) {
                alert('Please enter a valid email address.');
                event.preventDefault();
                return;
            }
            
            if (password.length < 4) {
                alert('Password must be at least 4 characters long.');
                event.preventDefault();
            }
        });
    </script>
</body>
</html>
